.ui-selectmenu-button.ui-button,
.ui-selectmenu-button.ui-button:active{
    display: block;
    border: 0;
    background: none;
    padding: 10px 7PX;
    border-radius: 0;
    width: 100%;
    font-family: "Segoe UI";
    font-size: 14px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 3px 6px #0f0f0f14;
    color: #aeaeae;
    /*outline: none;*/
}


.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon,
.ui-button:active .ui-icon{
    background: url('../../images/down-arrow-1.png');
    width: 16px;
    height: 16px;
    outline: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover{
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    color: #282828;
}

.cus-log-inp input{
    color: #fff !important;
}

.form-group .date-input:before{
    color: #fff;
}

.ui-widget.ui-widget-content {
    max-height: 200px;
}