.menu_box {
    min-height: 400px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_box ul {
    display: block;
    margin: 0;
    height: 100%;
    padding: 0;
}

.menu_box ul li {
    display: block;
    padding: 12px 30px;
    background: #3366cc;
    margin: 50px 0;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.menu_box ul li:hover a {
    color: #FFF;
    text-decoration: none;
}