.table td{
    font-size: 11px;
    max-width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px 0 0;
}

.table td:nth-child(2) {
    max-width: 200px;
}

.table tr:first-child > td {
    font-weight: bold;
}

.content-box {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.element-box {
    padding: 0;
}

body {
    overflow-x: scroll;
}