@font-face {
    font-family:"Segoe UI mdl2";
    src: url(../fonts/SegMDL2.ttf);
}

.pricing-container{
    font-family: 'Segoe UI';
}
.pricing-item{
    background: #ebebeb;
    padding: 15px;
    /* border: 2px solid #333; */
    /* box-shadow: 0px 1px 5px; */
}
.pricing-header .left-heading{
    font-size: 20px;
    font-weight: 400;
}

.pricing-header{

}

.pricing-header .right-heading{

}

.pricing-item{
    background: #fff;
    /* margin: 0px 10px; */
    padding: 20px 22px;
    /* width: 262.5px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #d8cece;
    padding-top: 10px;
    width: 320px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.pricing-item:first-child {
    /* margin-left: 0; */
}

.pricing-header > h3 {
    position: relative;
    text-align: left;
    line-height: 44px;
}

.pricing-header > h3:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #292929;
    position: absolute;
    left: 0;
    bottom: 0;
}

.pricing-header .left-heading{
    color: #272727;
    font-size: 25px;
    /* font-weight: 300; */
    font-family: 'Segoe UI light';
    display: inline-block;
}
.pricing-header .right-heading{
    /* float: right; */
    font-family: 'Segoe UI light';
    line-height: 40px;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
}

.pricing-header .right-heading > sup {
    position: absolute;
    font-size: inherit;
    top: 10px;
    font-size: 17px;
    font-weight: bold;
    left: -8px;
}

.pricing-item .small-head{
    font-size: 12px;
    color: 292929;
    font-weight: bold;
}

.pricing-body{
    margin: 20px 0px;
}

.notification-content {
    font-family: 'Segoe UI light', Tahoma, Geneva, Verdana, 'sans-serif';
    margin: 0px;
    /* border-top: 1px solid #dddddd; */
    /* padding-top: 0px; */
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: 900;
    color: #5d5757;
    padding-top: 2px;
    border-bottom: 1px solid #bdbdbd;
}
.notification-content-body table td{
    font-family: segoe-ui-mdl2;
    text-align: center;
}
.notification-content-body table td:first-child{
    font-family: 'segoe UI light';
    /* font-size:; */
    text-align: left;
}
.pricing-body p{
    line-height: 0.98;
    color: #696969;
    font-family: 'segoe UI';
    /* font-weight: bold; */
    margin-top: 8px;
    font-size: 13px;
    position: relative;
    padding-bottom: -14px;
    margin-bottom: 18px;
}

.pricing-body p > strong {
    font-weight: bold;
}

.pricing-body p > strong > span {
    color: #8d9094;
    font-size: 13px;
    font-weight: normal;
    /* font-style: italic; */
}

.pricing-body p > span {
    display: inline-block;
    width: 19px;
    height: 16px;
    /* height: auto; */
    font-family: segoe-ui-mdl2;
    background: url('/statics/images/icon_check_navyblue.png') no-repeat center center;
    background-size: 15px;
    /* margin-left: 15px; */
    /* margin-top: 3px; */
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -6px;
}

.pricing-body p.no-check > span {
    background-image: url('/statics/images/icon_cross_navyblue.png');
}

.pricing-body p.will-expand > span {
    background-image: none;
    width: auto;
    height: 20px;
    font-family: 'Segoe UI', segoe-ui-mdl2;
    color: #5d5959;
    font-weight: bold;
}

.pricing-body p.will-expand > span > span  {
    vertical-align: middle;
    font-size: 11px;
    margin-left: 3px;
}

.notification-content-body table {
    width: 100%;
}

.notification-content-body table th{
    color: #005DBA;
    /* font-size: 10px; */
}

p.will-expand {
    cursor: pointer;
}

p.will-expand .pricing-collapse {
    display: none;
}

p.will-expand  + .notification-content.hide{
    display: none;
}

.pricing-footer {
    border-top: 1px solid #000;
    padding-top: 15px;
    /* text-align: right; */
}

.pricing-footer .pricing-terms {
    font-size:  11px;
    vertical-align: middle;
    line-height: 30px;
    color: #8d9094;
}

.pricing-footer .btn {
    border-color: #005dba;
    padding: 7px 0px;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 15px;
    color: #fff !important;
    background: #005dba;
    margin: 3px 0px;
    border-radius: 0;
    width: 90px;
    float: right;
    font-size: 12px;
}
@media (max-width: 767px){
    .pricing-item{
        float: none;
        margin: 0 auto;
        width: 100%;
        margin-top: 30px;
    }
}